<!DOCTYPE html>
<html>
  <head>
    <title>Dog Breed Explorer</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to "Dog Breed Explorer", root_path %>
        |
        <%= link_to "Breeds", breeds_path %>
        |
        <%= link_to "About", about_path %>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>